/********** Fixes **********/

* {
  margin:0;
  padding:0;
  border:0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
  line-height: 0;
}

.clear {
  clear: both;
}

/* Posititoning Classes */
#wrapper-1 {

}
#green-shoes{
  float: left;
  width: 66%;
}

#archive-list {
  float: right;
  width: 32%;
}
#wrapper-2 {
  display: flex;
  justify-content: space-around;
}

#ladybug {
  float: left;
  width: 32%;
  margin: 10px;
}

#skate {
  float: left;
  width: 32%;
}

#heels {
  float: left;
  width: 32%;
}
#bottom {
  display: flex;
  justify-content: space-between;
}
